div.choice {
  display: table;
  min-height: 30px;
  width: 100%;
  margin: 4px auto;
  border: 1px solid #AAB;
  border-radius: 3px;
  background-color: #DDF;
  cursor: pointer;
}
div.choice:hover, div.choice.chosen {
  border-color: #889;
}
div.choice:not(.chosen):hover {
  background-color: #BBD;
}
div.choice.chosen {
  background-color: #CAB;
}
div.choice input, div.choice div {
  display: table-cell;
}
div.choice div {
  width: 100%;
  text-align: left;
}
