@import 'variables'

@font-face
  font-family "Source sans pro"
  // best supported format; avoid storing 4 font files in app cache
  src url("font/sourcesanspro-light.woff")

body
  padding 0
  margin 0
  background-color $white
  font-family "Source sans pro", Helvetica, Arial, Sans-Serif

nav
  border-bottom solid 6px $hueLightest
  background-color $primary

span.brand
  padding 8px
  font-size 1.5em

main#container
  padding 12px