$primary = #5677fc
$hueDark = #2a36b1
$hueLight = #91a7ff
$hueLightest = #e7e9fd
$accent = #ffeb3b

$white = #fff
$primaryText = rgba(0,0,0,0.87)
$secondaryText = rgba(0,0,0,0.54)
$hintText = rgba(0,0,0,0.26)
$divider = rgba(0,0,0,0.12)
