<nav>
  <a href="#" class="previous">
    <div class="icon-previous">
      <div class="clip">
      <div class="inner"></div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="icon-home">
      <div class="inner"></div>
      <div class="inner"></div>
      <div class="inner"></div>
    </div>
  </a>
  <a href="#" class="next">
    <div class="icon-next">
      <div class="clip">
        <div class="inner"></div>
      </div>
    </div>
  </a>
</nav>
<div class="icon-user">
  <div class="inner head"></div>
  <div class="inner chest"></div>
</div>
<h1>John Doe</h1>