app-palef
  main
    padding 12px
    color $primaryText
  h3
    color $hueDark
  button
    padding 4px 6px
    border solid $hueLightest 2px
    border-radius 5px
    font-family "Source sans pro", Helvetica, Arial, Sans-Serif
    font-size 1.0em
    color $white
    background-color $primary
  button[disabled]
    background-color $hueLight