nav-bar
  display table
  width 100%
  border-bottom solid 6px $hueLight
  background-color $primary
  font-size 1.5em
  a
    text-decoration none
    color $hueLightest
  a.home-link, span.center-box, span.right-box
    display table-cell
    padding 6px
  a.home-link, span.right-box
    width 10%
    min-width 60px
  span.center-box
    width 80%
    text-align center
  span.right-box
    text-align right
